{% extends 'base.html' %}
{% load staticfiles %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'yarn/chart.js/dist/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'yarn/moment/min/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'templates/group_chart.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-10" style="position: relative; height: 80vh">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-xs-2">
            <div class="form-group row">
                <label for="start-date-input" class="col-2 col-form-label">Von</label>
                <div class="col-10">
                    <input class="form-control" type="date" id="start-date-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="end-date-input" class="col-2 col-form-label">Bis</label>
                <div class="col-10">
                    <input class="form-control" type="date" id="end-date-input">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


