{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            {% for machine in machines %}
                <div class="col-sm-3 m-t-lg">
                    <a type="button" href="/employees/{{ employee.id }}/{{ machine.id }}">
                        <button class="btn btn-xlarge btn-default">
                            {{ machine }}
                        </button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}